section.s-hero {
    @include spacing-lateral();
    background-color: $color-main;
    color: $color-white;
    padding-top: calc(3.9rem + 11.9rem); //somando o padding top com altura do header

    .grid { 
        display: flex;
        justify-content: space-between;
    }

    .text {
        width: 100%;
        max-width: 488px;

        padding-bottom: 8.6rem;

        h1 {
            font-family: PT Sans;
            font-size: 4.8rem;
            font-weight: 700;
            line-height: 120%; /* 57.6px */

            margin-bottom: 1.6rem;
        }
        p {
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 150%; /* 27px */

            margin-bottom: 3.2rem;
        }

        .btn-primary {
            @include style-btn(5.4rem, $color-secondary, 16px, #381e66);

            margin-bottom: 8.6rem;
        }

        .conheca {
            display: flex;
            align-items: center;
            gap: 1.6rem;

            color: $color-white;

            img {
                background-color: rgba(124, 90, 186, 0.40);
                border-radius: 6px;
                padding: 9px;
            }
            span {
                font-weight: 700;
            }
        }
    }

    .ilustration {
        max-width: 691.525px;

        position: relative;
        top: 37px;
    }


    /* Laptops baixa resolução */
    @media screen and (max-width: 1024px) {
        padding-bottom: 3.9rem;

        .text {
            padding-bottom: 0;

            .btn-primary {
                margin-bottom: 5.5rem;
            }
        }
    }

    /* Tablets */
    @media screen and (max-width: 767px) {
        text-align: center;
        padding-bottom: 0;

        .grid { 
            flex-direction: column;
        }

        .text {
            margin: 0 auto;
            margin-bottom: calc(55px - 37px);

            .btn-primary {
                margin-bottom: 4.1rem;
            }

            .conheca {
                justify-content: center;
            }
        }

        .ilustration {
            left: -16px;
        }
    }

    /* Tablets baixa resolução */
    @media screen and (max-width: 600px) {

        .text {
            margin-bottom: calc(55px - 27px);

            h1 {
                margin-bottom: 24px;
            }
            p {
                font-size: 16px;
            }
        }

        .ilustration {
            top: 27px;
        }
    }

    /* Mobile geral */
    @media screen and (max-width: 480px) {
        padding-top: calc(27px + 86px);

        .text {
            max-width: 310px;
            margin-bottom: calc(55px - 21px);

            h1 {
                font-size: 32px;
                line-height: 120%; /* 38.4px */
            }
        }

        .ilustration {
            top: 21px;
        }
    }
}

section#s-resources {
    @include spacing-lateral();
    padding-top: 14.9rem;
    padding-bottom: 9.9rem;

    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5.3rem;

        h2 {
            width: 100%;
            max-width: 50.2rem;

            color: $color-gray1;
            font-family: PT Sans, sans-serif;
            font-size: 3.2rem;
            line-height: 130%; /* 41.6px */
        }

        p {
            color: $color-gray2;
            // font-weight: 500;
            line-height: 150%; /* 24px */

            span {
                font-weight: 700;
            }
        }
    }

    .content {
        color: $color-gray2;
        display: flex;
        gap: 3.4rem;
        p {
            line-height: 165%; /* 26.4px */
        }

        .card-featured {
            background-color: rgba(197, 190, 220, 0.10);
            width: 100%;
            max-width: 280px;
            // height: 100%;
            height: 323px;
            padding: 4.1rem 4.2rem;

            .bg-icon {
                background-color: $color-white;
                width: 64px;
                height: 64px;
                border-radius: 12px;
                
                padding: 20px;
                margin-bottom: 3rem;
            }

            .info {
                h3 {
                    color: $color-main;
                    font-size: 1.8rem;
                    font-weight: 800;

                    margin-bottom: 2rem;
                }
            }
        }

        .list-resources {
            display: flex;
            gap: 7.9rem;
            padding: 0 2rem;
            border-bottom: 3px solid rgba(197, 190, 220, 0.10);

            li {
                width: 100%;
                max-width: 238px;
                padding: 4.1rem 0;

                .bg-icon {
                    background-color: rgba(197, 190, 220, 0.10);
                    width: 64px;
                    height: 64px;
                    border-radius: 12px;
                    
                    padding: 20px;
                    margin-bottom: 3rem;
                }

                .info {
                    h3 {
                        color: $color-main;
                        font-size: 1.8rem;
                        font-weight: 800;

                        margin-bottom: 2rem;
                    }
                }
            }
        }
    }



    // RESPONSIVIDADE:

    /* Laptops baixa resolução */
    @media screen and (max-width: 1024px) {
        .content {
            // display: flex;
            // gap: 3.4rem;
            flex-direction: column;

            .card-featured {
                max-width: 100%;
                height: auto;
                padding: 3rem;

                text-align: center;
                // display: flex;
                // flex-direction: column;
                // justify-content: center;
                // align-items: center;

                .bg-icon {
                    margin: auto;
                    margin-bottom: 3rem;
                }
            }
        }
    }

    /* Tablets */
    @media screen and (max-width: 767px) {
        padding-top: 10rem;
        padding-bottom: 5rem;

        .top {
            flex-direction: column;

            text-align: center;
            margin-bottom: 4rem;

            h2 {
                margin-bottom: 2rem;
            }  
        }

        .content {            
            .list-resources {
                padding: 0;
                text-align: center;

                gap: 2.5rem;
                justify-content: space-between;
                
                li {
                    .bg-icon {
                        margin: auto;
                        margin-bottom: 3rem;
                    }
                }
            }
        }
    }

    /* Mobile geral */
    @media screen and (max-width: 480px) {
        padding-top: 60px;
        padding-bottom: 40px;

        .content {   
            gap: 47px;

            .card-featured {
                .bg-icon {
                    margin-bottom: 20px;
                }
                .info {
                    h3 {
                        margin-bottom: 14px;
                    }
                }
            }

            .list-resources {
                padding-bottom: 30px;
                gap: 50px;
                flex-direction: column;
                
                li {
                    max-width: 100%;
                    padding: 0;
                    padding-right: 26.4px;
                    
                    text-align: left;
                
                    display: flex;
                    gap: 30px;
                    
                    .bg-icon {
                        margin: 0;

                        min-width: 64px;
                        min-height: 64px;
                        
                        // padding: 20px;
                    }
                &:last-child .bg-icon {
                    padding-top: 23px;
                }

                    .info {
                        h3 {
                            margin-bottom: 14px;
                        }
                    }
                }
            }
        }
    }
}


















html {
    @media screen and (max-width: 600px) {
      font-size: 55%;
    }
}